
<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>GrovDewMain</h1>
			</div>
			<div class=" col-md-5">
				<ul class="nav navbar-right">
				  	<li>item1</li>
				  	<li>item2</li>
				  	<li>item3</li>
				  	<li>item4</li>
				</ul>
			</div>
		</div>
	</div>	
</div>
<div class="main">
	<h1>Cases & Protection </h1>
</div>
<div class="iphone6plus">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-3 img6p">
					<%= image_tag('iphone6b.png') %>
			</div>
			<div class="col-md-4 text6p">
				<h1>iPhone 6 Plus</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quod temporibus pariatur modi! Quis, quibusdam.</p>
			</div>
		</div>
	</div>
</div>
<div class="iphone6">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-3 text6 ">
				<h1>iPhone 6</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quod temporibus pariatur modi! Quis, quibusdam.</p>
			</div>
			<div class="col-md-4  img6">
				<%= image_tag('iphone6w.png') %>
			</div>
		</div>
	</div>
</div>
<div class="iphone5">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-3 img5">
					<%= image_tag('iphone5sb.png') %>
			</div>
			<div class="col-md-4 text5">
				<h1>iPhone 5/5s</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ea iure unde.</p>
			</div>
		</div>
	</div>
</div>
<div class="iphone5c">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-3 text5c">
					<h1>iPhone 5c</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati.</p>
			</div>
			<div class="col-md-4 img5c">
				<%= image_tag('iphone5c.png') %>
			</div>
		</div>
	</div>
</div>
<div class="iphone4">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-3 img4">
					
			</div>
			<div class="col-md-6 text4">
				
			</div>
		</div>
	</div>
</div>