/*=======header===========*/
.header{
	height: 70px;
	width: 100%;
	background-color: rgba(47,79,79, .9);
	color: white

}
.header .nav{
	margin-top: 20px;
}
.header .nav li{
	margin:auto 20px;
	display: inline-block;
}
/*=======main=============*/
.main{
	padding-top: 280px;
	text-align: center;
	height: 600px;
	width: 100%;
	color: white;
	background: url('https://farm1.staticflickr.com/731/20651083456_d93004801d_o.jpg');
}


/*=======iPhone 6 plus=====*/
.iphone6plus{
	width: 100%;
	height: 600px;
	background-color: #7CFC00;
}
.iphone6plus>.row{
	height: 600px;
}
.img6p{
	padding: 40px;
	height: 100%;
}
.img6p img{

	width: 250px;
}
.text6p{
	margin-top: 100px;
	height: 100%;
}

/*=======iPhone 6 ========*/
.iphone6{
	width: 100%;
	height: 600px;
	background-color: #4B0082;
	color: white;
}
.iphone6>.row{
	height: 600px;
}
.img6{
	padding: 40px;
	height: 100%;
}
.img6 img{
	width: 250px;
}
.text6{
	margin-top: 100px;
	height: 100%;
}

/*=======iPhone 5=========*/
.iphone5{
	width: 100%;
	height: 600px;
	background-color: #40E0D0;
	color: white;
}
.iphone5>.row{
	height: 600px;
}
.img5{
	padding: 40px;
	height: 100%;
}
.img5 img{
	width: 250px;
}
.text5{
	margin-top: 100px;
	height: 100%;
}
/*=======iPhone 5c ========*/
.iphone5c{
	width: 100%;
	height: 600px;
	background-color: #FF4500;
}
.iphone5c>.row{
	height: 600px;
}
.img5c{
	padding: 40px;
	height: 100%;
}
.img5c img{
	width: 250px;
}
.text5c{
	margin-top: 100px;
	height: 100%;
}

/*======= ========*/